/*
 * Write your custom CSS here
 */

.profile-section {
	display: flex;
	gap: 50px;
}

img.profile {
	border-radius: 10%;
	box-shadow: 10px 10px 52px 0px rgba(0,0,0,0.75);
}
p{
	font-weight: bold;
}